<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
  <link rel="stylesheet" type="text/css" href="./css/main.css">
  <link rel="icon" href="./img/favicon.ico" />
  <title>Datamaran Test</title>
</head>

  <body>
    <ul>
      <li><a href="/">Instruction</a></li>
      <li><a href="/test">Test to complete</a></li>
    </ul>
    <section id="main" >

      <h1> You need to refresh this page to see your changes </h1>

      To completed 
    </section>
    <script>
      // to complete 
      var data = {{data | json | safe}}; // swig syntax, check http://node-swig.github.io/swig-templates/
      console.log(data.customerData);       
    </script>
  </body>
</html>